@import "variables";

@mixin media-up($breakpointKey) {
  @media screen and (min-width: map_get($mediaQueryBreakpoints, $breakpointKey)) {
    @content
  }
}

@mixin media-down($breakpointKey) {
  @media screen and (max-width: map_get($mediaQueryBreakpoints, $breakpointKey) - 1px) {
    @content
  }
}

@mixin container {
  max-width: 85vw;
  margin: 0 auto;
  padding: 25px;
  @include media-up(md) {
    max-width: 90vw;
  }
  @include media-up(xlg) {
    max-width: $breakpoint-large;
  }
}
