<!DOCTYPE html>
<html lang="{{head.lang}}">
<head>
    <meta charset="utf-8">
    <title>{{head.title}}</title>
    <link rel="stylesheet" href="{{head.cssPath}}">
</head>
<body>

    {{{body}}}

</body>
</html>
