<main class="container">
    <a href="/">{{{content.returnToSite}}}</a>
    <h1>{{content.title}}</h1>
    <ul class="projects__list">
        {{#each projects.projects}}
            {{> project sourceMsg=../projects.sourceMsg demoMsg=../projects.demoMsg aboutMsg=../projects.aboutMsg }}
        {{/each}}
    </ul>
</main>
