@keyframes float {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-5px); }
  100% {
    transform: translateY(0px); } }

@keyframes float2 {
  0% {
    transform: translateY(-20px); }
  50% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(-20px); } }

@font-face {
  font-family: 'icomoon';
  src: url("../../fonts/icomoon.eot?ufd1qa");
  src: url("../../fonts/icomoon.eot?ufd1qa#iefix") format("embedded-opentype"), url("../../fonts/icomoon.ttf?ufd1qa") format("truetype"), url("../../fonts/icomoon.woff?ufd1qa") format("woff"), url("../../fonts/icomoon.svg?ufd1qa#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 3.6rem;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-twitter:before {
  content: "\e900"; }

.icon-github:before {
  content: "\e901"; }

.icon-linkedin:before {
  content: "\e902"; }

.icon-mail:before {
  content: "\e903"; }

.icon-dev:before {
  content: "\e904"; }

.footer {
  max-width: 85vw;
  margin: 0 auto;
  padding: 25px; }
  @media screen and (min-width: 1024px) {
    .footer {
      max-width: 90vw; } }
  @media screen and (min-width: 1440px) {
    .footer {
      max-width: 1200px; } }
  @media screen and (min-width: 1024px) {
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center; } }
  .footer__social-list {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px; }
  .footer .fathom-icon {
    background: url("../../fathom.svg") no-repeat top left;
    background-size: contain;
    width: 3.6rem;
    height: 3.6rem;
    display: block;
    transition: transform 0.35s ease; }
    .footer .fathom-icon:hover, .footer .fathom-icon:focus {
      transform: scale(1.1); }

:root {
  font-size: 10px; }

html {
  position: relative;
  min-height: 100%; }

body {
  margin: 0 auto 100px;
  background-color: #fafafa;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif; }

footer {
  max-width: 85vw;
  margin: 0 auto;
  padding: 25px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden; }
  @media screen and (min-width: 1024px) {
    footer {
      max-width: 90vw; } }
  @media screen and (min-width: 1440px) {
    footer {
      max-width: 1200px; } }

ul {
  padding: 0;
  list-style-type: none; }

a {
  text-decoration: none;
  color: #2374AB;
  transition: color 0.35s ease; }

a:hover, a:focus {
  color: #013355; }

h2 {
  color: #013355;
  font-size: 3rem;
  text-align: center; }
  @media screen and (min-width: 768px) {
    h2 {
      text-align: left; } }

.container {
  max-width: 85vw;
  margin: 0 auto;
  padding: 25px;
  text-align: center; }
  @media screen and (min-width: 1024px) {
    .container {
      max-width: 90vw; } }
  @media screen and (min-width: 1440px) {
    .container {
      max-width: 1200px; } }
  .container h1 {
    font-size: 15rem;
    margin: 1rem 0; }
  .container h2 {
    font-size: 10rem;
    text-align: center;
    margin: 1rem 0; }

/*# sourceMappingURL=404.css.map */