@import "../general";
@import "../_partials/projects";
@import "../_partials/header";

.container {
  @include container;
}

.projects__container, .skills__container {
  margin: 0 0 10rem;
}

.skills {
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include media-up(sm) {
      justify-content: space-between;
    }
  }

  &__list-item {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: $primaryColour;
    font-size: 1.8rem;
    margin: 1rem;
    transform: translateY(0px);
    animation: float 6s ease-in-out infinite;

    @include media-up(sm) {
      margin: 0.5rem;
      width: 100px;
      height: 100px;

      &:nth-child(2n) {
        transform: translateY(-2rem);
        animation: float2 6s ease-in-out infinite;
      }
    }

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      opacity: 0.2;
      background: $gray-blue;
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      opacity: 0.3;
      border: 3px solid $light-blue;
      filter: blur(1px);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
  }
}
