.footer {
  @include container;

  @include media-up(md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__social-list {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
  }

  .fathom-icon {
    background: url("../../fathom.svg") no-repeat top left;
    background-size: contain;
    width: 3.6rem;
    height: 3.6rem;
    display: block;
    transition: transform 0.35s ease;

    &:hover, &:focus {
      transform: scale(1.1);
    }
  }
}
