.footer {
  @include container;

  @include media-up(md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__social-list {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
  }
}
