.projects {

  &__title-container {
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-up(sm) {
      justify-content: space-between;
    }
  }

  &__list {
    display: grid;
    grid-gap: 2rem;

    @include media-up(sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-up(md) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-up(xlg) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;

    @include media-up(sm) {
      text-align: left;
    }

    a {
      margin: 0.5rem 0;
    }

    &-demo {
      font-size: 2.5rem;
    }
  }

  &__list-item-image-ctn {
    position: relative;

    img {
      max-width: 100%;
    }
  }

  &__list-item-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    border: 2px solid $primaryColour;
    background: $gray-blue;
    border-radius: 50%;
    padding: 0;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: transform ease-in-out 350ms;

    &:hover, &:focus {
      transform: scale(1.1);
    }

    &.is-active {
      &::before, &::after {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }

    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
      background: $primaryColour;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: transform 200ms ease-in-out;
    }

    &::before {
      width: 2px;
      height: 50%;
    }

    &::after {
      width: 50%;
      height: 2px;
    }
  }

  &__list-item-ctn {
    position: absolute;
    left: -100%;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 0.5rem;
    background-color: $gray-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: left ease-in-out 200ms, transform ease-in-out 200ms;

    .is-active & {
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__list-item-title {
    color: $primaryColour;
    padding: 0.5rem 0 0.3rem;
    font-weight: 500;
  }

  &__view-all {
    &--mobile {
      display: block;
      text-align: center;
      @include media-up(sm) {
        display: none;
      }
    }

    &--desktop {
      display: none;
      @include media-up(sm) {
        display: initial;
      }
    }
  }
}
