@import '_utilities/mixins';
@import '_utilities/animations';
@import '_utilities/icons';
@import "_partials/footer";

:root {
  font-size: 10px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 auto 100px;
  background-color: $secondaryColour;
  font-size: 1.6rem;
  font-family: $font-family;
}

footer {
  @include container;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $light-blue;
  transition: color 0.35s ease;
}

a:hover, a:focus {
  color: $primaryColour;
}

h2 {
  color: $primaryColour;
  font-size: 3rem;
  text-align: center;

  @include media-up(sm) {
    text-align: left;
  }
}
